@tailwind base;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: 32px;
}

.nav.tabs>div {
  border-bottom: 0.5px solid rgb(224 224 224 / 40%);
}
 

.nav.tabs> :first-child {
  border-bottom: 2px solid rgba(91, 95, 199, 1);
}

.toolbar {
  max-width: 99.8%;
  border-block: 1px solid rgb(224 224 224);
}

.filter,
.toolbar .fui-Label {
  font-size: 14px;
  font-weight: 600;
  color: rgba(66, 66, 66, 1);
}

.fui-Checkbox {
  margin-left: 1rem;
}

.sidebar {
  border-right: 1px solid rgb(224 224 224);
}

a {
  text-decoration: none;
}

.card.wide,
.card.slim,
.card.normal {
  min-height: 440px;
  width: 100%;
  box-shadow: none;
  outline: 1px solid rgb(224 224 224);
}

.card-footer {
  color: rgb(91 95 199);
}

.tablist {
  margin: o auto;
}

g>rect+text,
g>rect+text+text,
g>rect+text+text+text,
.ms-GaugeChart g>g:first-of-type {
  display: none;
}

.fui-Card + .fui-Card:nth-of-type(2) button > div {
  display: none;
}

.chartWrapper-126 g text {
  font-size: 12px;
  font-weight: 400;
  fill: rgba(66, 66, 66, 1);
}

.ms-GaugeChart svg {
  margin: 0 auto;
}

#chart_18 button {
  opacity: 0;
}

@media (min-width:768px) {

  .toolbar span.filter {
     margin-right: 1.2rem;
   }

  .card.wide {
    width: 500px;
  }

  .card.slim {
    width: 300px;
  }

  .card.normal {
    width: 320px;
  }

  .card-footer {
    color: rgb(91 95 199);
  }
}
